<!doctype html>
<html>
     <head> 
		 <title> Guidance WebPage </title>
	     <link href="style.css" rel="stylesheet"/>
	 </head>
	 <body>
	     <header>
	         <div class="main">
			     <div class="logo">
					 <img src="Logo.png">
				 </div>
			     <ul>
					 <li class="active"><a href="index.html">Home</a></li>
					 <li><a href="question.html">Q & A</a></li>
					 <li><a href="">Year 9</a></li>
					 <li><a href="">Year 10</a></li>
					 <li><a href="">Year 11</a></li>
					 <li><a href="">Year 12</a></li>
					 <li><a href="">Year 13</a></li>

				 </ul>
			 </div>
			 <div class="title">
			 <h1> Welcome to Guidance </h1>
			 </div>
				 <p> Welcome to Our WebPage. The main aim of this website is to help the student to access help 
                     in studies. All the students may use this platform learn regardless of the boundaries.
                     And there is a section where the students get to speak or highlight the issues they face.
                 </p>
		 </header>
		 <footer>
			<div class="footer-bottom">
				<p>copyright &copy;2021 Guidance.</p>
			</div>
		</footer>	 
	 </body>
</html>